header
  #logo
    h2 AKINJIDE BANKOLE
    h4 NODE JS / PYTHON

  - var socialUrls = ['https://facebook.com/bakinjide', 'https://twitter.com/_akinjide', 'https://www.akinjide.me', 'https://github.com/akinjide'];
  - var icons = ['&#x2a;', '&#x2c;', '&#x31;', '&#x33;'];

  ul.socialicons
    li.socials-text Social Profiles
    each url, index in socialUrls
      li
        a.transition&attributes({ href: url })!= icons[index]
