header
  #logo
    h2 #{self.author.name}
    h4 #{self.author.title}

  ul.socialicons
    li.socials-text Social Profiles
    each url, index in self.social.links
      li
        a.transition&attributes({ href: url })!= self.social.icons[index]
