section#book
  - var classes = []

  ul.cats-filter#book-filter
    each tag in self.books.tags
      if self.books.tags[tag.indexOf('All')] === tag
        li
          a.transition.current&attributes({ href: '', 'data-filter': '*' })= tag
      else
        li
          a.transition&attributes({ href: '', 'data-filter': '.' + tag.toLowerCase() })= tag

  .extra-text Books I have read and recommend
  ul#book-list
    each book in self.books.completed
      each tag, index in book.tags
        - classes[index] = self.books.tags[tag].toLowerCase()

      li(class=classes)
        a(href="#{book.url}" rel="book" target="_blank").folio
          img(src="static/books/" + book.name.toLowerCase().split(' ').join('-') + ".png" alt="#{book.name} Book")
          h2.title !{book.name}
