section#book
  - var tags = ["All", "Programming", "Design", "Engineering", "Architecture", "DevOps", "Security", "Databases", "UI And UX"];
  - var books = [{ name: "Mean Machine", url: "#", tags: [1] }, { name: "Learn Python the Hard Way", url: "#", tags: [1] }, { name: "Building Scalable Apps with Redis and Nodejs", url: "#", tags: [1, 3] }, { name: "The Heroku Hackers Guide", url: "#", tags: [4, 3] }, { name: "Expressjs Middleware", url: "#", tags: [1, 6] }, { name: "Node Security", url: "#", tags: [1, 6] },{ name: "Swift for Beginners Develop And Design", url: "#", tags: [1, 2] }];
  - var classes = []

  ul.cats-filter#book-filter
    each tag in tags
      if tags[tag.indexOf('All')] === tag
        li
          a.transition.current&attributes({ href: '', 'data-filter': '*' })= tag
      else
        li
          a.transition&attributes({ href: '', 'data-filter': '.' + tag.toLowerCase() })= tag

  .extra-text Books I've read and recommend
  ul#book-list
    each book in books
      each tag, index in book.tags
        - classes[index] = tags[tag].toLowerCase()

      li(class=classes)
        a(href="#{book.url}" rel="book" target="_blank").folio
          img(src="book/" + book.name.toLowerCase().split(' ').join('-') + ".png" alt="#{book.name} Book")
          h2.title !{book.name}
