#legal-notice
  .container
    .legal-notice-text
      p #{self.legal}
      a.button.transition(href="javascript:cookie_accept();") Accept
    .legal-notice-close-container
      a.legal-notice-close.transition(href="javascript:close_cookie();")
        img(src="static/images/icon_close_w_60x60.png" alt="Legal notice close button")
