nav.menu
  ul.tabs
    each icon, url in self.navMap
      li.tmenu
        if 'profile' === url
          a.tab-profile&attributes({ href: '#' + url })
            i!= icon
            = url.charAt().toUpperCase() + url.slice(1)
        else
          a&attributes({ href: '#' + url })
            i!= icon
            = url.charAt().toUpperCase() + url.slice(1)
  a(href="#").prev#menu-prev &#xe073;
  a(href="#").next#menu-next &#xe076;
