section#resume
  .timeline-section
    h3.main-heading Employment
      ul.timeline
        li
          .timelineUnit
            h4 Programmer
              span.timelineDate May 2015 - Present
            h5 Andela
            p.
              As a Programmer at Andela, I constantly work with a
              broad range technologies, build cool stuffs in Python,
              Node.js -- as well as various web frameworks. I
              also attend meetups, give talks on programming, design and
              related topics, and actively contribute to the open source community.
        li
          .timelineUnit
            h4 Editor
              span.timelineDate Jan 2015 - Mar 2015
            h5 Nigeria FashionPolice
            p.
              At Nigeria FashionPolice, I spent my time primarily writing fashion news, 
              articles and learned some cool stuff.
        div.clear
    h3.main-heading Education
      ul.timeline
        li
          .timelineUnit
            h4 Self Taught
              span.timelineDate 2014
              h5 Life
              p.
                I'm primarily self-taught. I've been designing since
                I was roughly 19 years old, and have read through hundreds
                of design books and articles.
        li
          .timelineUnit
            h4 Lagos City Senior College
              span.timelineDate 2010 - 2012
            h5 High School, Science
            p.
              I was a science student, a member of Jet club back at school and 
              also graduated from this great school.
        div.clear

  div.skills-section
    //- Programming
    h3.main-heading Programming Skills

    - var programmingSkills = ['Python', 'Node.js', 'Go', 'Ruby', 'Swift', 'Flask', 'Express.js', 'Angular.js', 'VIM', 'SQL'];
    - var strengths = [4, 6, 1, 3, 1, 2, 6, 5, 4, 3];

    ul.skills
      each programmingSkill, index in programmingSkills
        li
          h4= programmingSkill
          .rating&attributes({ 'data-rat': strengths[index] })
    //- Designing
    h3.main-heading Design Skills

    - var designSkills = ['CSS', 'HTML', 'Pug', 'Javascript', 'JQuery', 'Photoshop', 'illustrator', 'Sketch 3', 'Style', 'Creativity'];
    - var strengths = [6, 7, 7, 5, 6, 3, 3, 7, 4, 5];

    ul.skills
      each designSkill, index in designSkills
        li
          h4= designSkill
          .rating&attributes({ 'data-rat': strengths[index] })
    //- Others
    h3.main-heading Other Skills

    - var otherSkills = ['Gaming', 'Skating', 'Surfing Youtube', 'Writing', 'Public Speaking'];
    - var strengths = [6, 2, 6, 4, 3];

    ul.skills
      each otherSkill, index in otherSkills
        li
          h4=otherSkill
          .rating&attributes({ 'data-rat': strengths[index] })
    //- XP
    h3.main-heading XP
      span.tooltip
        span.tooltip_content
          span
            strong Current XP:
            | 18120 
            br
            strong Target XP:
            | 27000 before December 1
            br
            br
            strong How I calculate my XP Points.
            br
            | 1 dot represent 3000XP, everyday I try new stuffs, and I reward 
            |  myself 1XP after successfully learned.
    ul.skills
      each skill in [6, 0, 0, 0, 0, 0]
        li
          .rating&attributes({ 'data-rat': skill })
  div.clear
  //- a(href="javascript:window.print()" class="button transition")Download resume as PDF format
  a#downloadPDF.button.transition Download resume as PDF format