extends ./base.jade
- var attributes = { id: 'not-found' };

block title
  title 404 Not Found -&nbsp;Akinjide Bankoles' Resume

block styles
  link(rel="stylesheet" type="text/css" href="dist/_tn2fu.min.css")
  link(href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css')

block append scripts
  script(type="text/javascript" src="dist/_6kgkb.min.js")
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

block content
  #container
    span#story
    span.typed-cursor _
    #kick